{% extends 'base.html' %}

{% block title %}
<title>Create post</title>
{% endblock %}

{% block body %}
<section style="padding: 6rem 0;">
    <div class="title-module--banner">
        <h1>Створення статті</h1>
    </div>
    <div class="title-module--underline"></div>
    <div class='single-article-module--footer' style="max-width: 1170px; margin: 0 auto 2rem; text-align: center;">
        <div class="article-creation">
            <form method="POST" enctype="multipart/form-data">
                <h3>Прев'ю статті:</h3>
                <input class="file-input" type="file" name="thumbnail" accept="image/png, image/jpeg">
                <textarea class="title-textarea" type="text" name="title" placeholder="Заголовок статті" id="title">{{ title_value }}</textarea>
                <textarea class="text-textarea" name="text" id="text" placeholder="Текст статті">{{ text_value }}</textarea>
                <input class="default-button" type="submit" value="Створити">
            </form>
        </div>
    </div>
</section>


{% endblock %}