{% extends 'base.html' %}

{% block head %}
<title>Post</title>
{% endblock %}

{% block body %}

<div class='article-info'>
    <h1>{{ article.title }}</h1>
    <p>{{ article.text }}</p>   
</div>
<div class='comment-section'>
    <div class='comments'>
        {% for comment in article.comments %}
        <br>
            <img style="width: 32px" src="{{ comment.user.avatar }}">
            {{ comment.user.username }}
        <br>
            {{ comment.text }}
        <br>
            {{ comment.date.strftime("%H:%M, %b %d %Y") }}
        <br>
            <a href="/delete-comment/{{ comment.id }}">Delete comment</a>
        {% endfor %}
    </div>
    <div class='comment-form'>
        <form method="POST" action="/create-comment/{{ article.id }}">
            <textarea name="text" id="text"></textarea><br>
            <button type="submit">Submit</button><br>
        </form>
    </div>
</div>


{% endblock %}