<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel = "stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="button_line">
    <div class="top_buttons">
        <a class="button" href="/home">Home</a>
        <a class="button" href="/about">About</a>
        {% if session.logged_in %}
            <a class="button" href="/create_article">Create</a>
            <a class="button" href="/edit_articles">Edit</a>
            <a class="button" href="/logout">Logout</a>
        {% else %}
            <a class="button" href="/login">Login</a>
        {% endif %}
    </div>
</div>
<script src="{{ url_for('static', filename='vue.js') }}"></script>
<div class="card">
{% block body %}
{% endblock %}
</div>
</body>
</html>