<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/login">Log in</a>
        <a href="/signup">Sign up</a>
    </div>
    <div id="global">
        {% block body %}{% endblock %}
    </div>
</body>
</html>