{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block body %}
<h1>Deleting page</h1>
<div>
    <form name="deleting" method="POST">
        <table>
           <caption>Список постов</caption>
       <tr>
        <th>Дата</th>
        <th>Заголовок</th>
       </tr>
            {% for article in articles %}
                <tr>
                    <td><h3>{{ article[1] }}</h3></td>
                    <td><h2>{{ article[2] }}</h2></td>
                    <td><a href="/edit_article/{{ article[0] }}">edit</a></td>
                    <td><a href="/delete_article/{{ article[0] }}">delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </form>
</div>
{% endblock %}