{% extends 'base.html' %}

{% block head %}
<title>Home Page</title>
{% endblock %}

{% block nav %}
{% if session == 'allowed' %}
    <a href='/create-post'>Create post!</a>
{% else %}
{% endif %}
{% endblock %}

{% block body %}
<p class="greeting">Ты находишься на <strong>домашней</strong> странице!</p>

{% for article in articles|reverse %}
<a href="/post/{{ article.id }}" class="article-title">{{ article.title }}</a>
<p class="article-text">{{ article.text }}</p>
{% endfor %}

{% endblock %}