{% extends 'base.html' %}

{% block head %}
<title>Log in</title>
{% endblock %}

{% block body %}
<div>
    <form method="POST">
        <div class="container">
            <label for="username"><b>Your Username</b></label>
            <input type="text" placeholder="Username" name="username" required>
            <br>
            <label for="password"><b>Your Password</b></label>
            <input type="password" placeholder="Password" name="password" required>
            <br>
            <button type="submit">Log in</button>
        </div>
    </form>
</div>
{% endblock %}