{% extends 'base.html' %}

{% block title %}
About us
{% endblock %}

{% block body %}
<div>
    <form method="POST">
        <div class="container">
            <label for="password"><b>Username</b></label>
            <input type="text" placeholder="username" name="username" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="password" name="password" required>

            <button type="submit">Login</button>
        </div>
    </form>
</div>
<h1>Login page</h1>
{% endblock %}