{% extends 'base.html' %}

{% block title %}
Register page
{% endblock %}

{% block body %}
<h1>Register page</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div>
            <!-- Do something with the message -->
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div>
    <div>
        <form method="POST">
			<label for="username"><b>Username</b></label>
            <input type="text" placeholder="username" name="username" required>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="email" name="email" required>
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="password" name="password" required>
            <label for="password"><b>Confirm</b></label>
            <input type="password" placeholder="confirm" name="confirm" required>
            <button type="submit">Login</button>
        </form>
	</div>
</div>
{% endblock %}