{% extends 'base.html' %}

{% block head %}
<title>Sign up</title>
{% endblock %}

{% block body %}
<div>
    <form method="POST">
        <div class="container">
            <label>Регистрация</label>
            <br>
            <input type="text" placeholder="Username" name="username" required>
            <br>
            <input type="password" placeholder="Password" name="password-one" required>
            <br>
            <input type="password" placeholder="Repeat password" name="password-two" required>
            <br>
            <button type="submit">Подтвердить</button>
        </div>
    </form>
</div>
{% endblock %}