{% extends 'base.html' %}

{% block title %}
<title>Edit post</title>
{% endblock %}

{% block body %}

<section style="padding: 6rem 0;">
    <div class="title-module--banner">
        <h1>Редагувати профіль</h1>
    </div>
    <div class="title-module--underline"></div>
    <div class='single-article-module--footer' style="max-width: 1170px; margin: 0 auto 2rem; text-align: center;">
        <form method="POST" enctype="multipart/form-data" class="form-container" style="border: 0;">
            <h3>Змінити аватар</h3>
            <input type="file" name="avatar" accept="image/png, image/jpeg">
            <input type="text" name="username" placeholder="Новий нікнейм">
            <input class="default-button" type="submit" value="Підтвердити" style="margin-top: 50px;">
        </form>
    </div>
</section>

{% endblock %}