{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<section class="title-module">
    <div class="title-module--banner">
        <h1>Профіль</h1>
    </div>
    <div class="title-module--underline"></div>
</section>
<section class="user-data-module">
    <div class="single-user"></div>
        <div class="avatar-img">
            <img src="/static/avatars/{{ current_user.avatar }}">
        </div>
        <div class="user-data">
            <b>Логін:</b> {{ current_user.username }}
            <br>
            <b>Роль:</b>
            {% if current_user.role == 1 %}
            admin
            {% else %}
            user
            {% endif %}
            <br>
            <b>Дата створення акаунта:</b> {{ current_user.date.strftime("%H:%M, %b %d %Y") }}
            <br>
            <a href="/edit-profile/" style="text-decoration: underline; color: #2680c0">Редагувати профіль</a>
            <br>
            <a href="/change-password/" style="text-decoration: underline; color: #2680c0">Змінити пароль</a>
        </div>
    </div>
</section>
<div class="title-module--underline"></div>


<section class="comments">
    <h1 style="text-align: center;">Коментарі:</h1>
    {% if current_user.comments[0] %}
        {% for comment in current_user.comments|reverse %}
        <div class="single-comment-module">
            <div class="comment">
                <a href="/profile/{{ comment.user.username }}" class="comment-img">
                    <img src="/static/avatars/{{ comment.user.avatar }}">
                </a>
                <div class="comment-body">
                    <div class="comment-top">
                        <a href="/profile/{{ comment.user.username }}" class="comment-author">
                            {{ current_user.username }}
                        </a>
                        <div class="delete-comment">
                            <a href="/delete-comment/{{ comment.id }}">Видалити коментар</a>
                        </div>
                        <br>
                        <a class="comment-article" href="/post/{{ comment.article_id }}">
                            "{{ comment.article.text[0:30] }}..."
                        </a>
                        <div class="comment-date">
                            {{ comment.date.strftime("%H:%M, %b %d %Y") }}
                        </div>
                    </div>
                    <div class="comment-text">
                        {{ comment.text }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <h3 style="text-align: center;">Порожньо...</h3>
    {% endif %}
</section>
{% endblock %}