<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <main>
        <nav class="navbar">
            <div class="nav-center">
                <div class="nav-header">
                    <a href='/'>
                        <img src="/static/our-logo.svg" alt="our logo" class='nav-logo'>
                    </a>
                </div>
                <ul class="nav-links">
                    <li>
                        <a class="page-link" class="page-link" href="/">Новини</a>
                    </li>
                    <li>
                        <a class="page-link" href="/about">Про нас</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    {% if current_user.role == 1 %}
                    <li>
                        <a class="page-link" href="/create-article">Створити пост</a>
                    </li>
                    <li>
                        <a class="page-link" href="/article-table">Керування постами</a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="page-link" href="/profile/{{ current_user.username }}">Профіль</a>
                    </li>
                    <li>
                        <a class="page-link" href="/logout" style="color: var(--clr-red-dark)">Вийти</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="page-link" href="/login" style="color: var(--clr-red-dark)">Ввійти</a>
                    </li>
                    <li>
                        <a class="page-link" href="/signup" style="color: var(--clr-red-dark)">Реєстрація</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </nav>
        {% block body %}{% endblock %}
    </main>
</body>
</html>